body {
  margin-top: 80px;
}

h1, h2, h3, h4, p, li, td {
  font-family: 'Roboto', sans-serif;
}

.about {
  font-size: larger;
}

.col-sm-12, .col-xs-12 {
  text-align: center;
}

th {
  text-align: center;
}

body {
  background-color: #e6e9ed;
}

.navbar-nav>li>a {
  padding-bottom: 20px;
}

.no-highlight {
  text-decoration: none; 
  color: #333;
}

#inline {
  display: inline;
}

.hide {
  visibility: hidden;
}

.align-right {
  text-align: right;
  margin-bottom: 0px;
}

.left-title {
  font-weight: bold;
  text-align: left;
  #float: left;
}

.show-info {
  text-align: left;
}

.albumart {
  background: url(/img/default.jpg);
}

.no-border {
  border-top: none !important;
}

#volume {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}

#playpause, #volume-icon {
  display: inline-block;
  vertical-align: middle;
  width: 50px
}

.slider-tip {
    opacity:1;
    bottom:120%;
    margin-left: -1.36em;
}

.ui-slider-horizontal {
  background: #000000 !important;
  border: 1px solid #000000 !important;
  height: 8px !important;
}
 
.ui-slider-range-min {
  background: url("/img/metal-slider-fill.png") repeat-x !important;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
 
.ui-slider-handle {
  background: url("/img/metal-slider-handle.png") !important;
  border: none !important;
  width: 25px !important;
  height: 25px !important;
  outline: none;
  top: -9px !important;
}

small {
  font-size: smaller!important;
}

.text-error {
  color: #9d261d;
}

.panel-footer {
  text-align: left;
}

.media-object {
  width: 100px;
  height: auto;
}

.media-body {
  text-align: left;
}

.media-body>h4 {
  text-align: center;
}

#google-plus > a:hover {
  background-color: #D34836;
  background-image: none;
  filter: none;
}

#facebook > a:hover {
  background-color: #6D8BC9;
  background-image: none;
  filter: none;
}

#twitter > a:hover {
  background-color: #00aced;
  background-image: none;
  filter: none;
}

#email > a:hover {
  background-color: #ebc755;
  background-image: none;
  filter: none;
}

#sms > a:hover {
  background-color: #89b72d;
  background-image: none;
  filter: none;
}
