.red {
  color: #ff0000;
}

body {
  margin-top: 80px;
}

h1, h2, h3, h4, p, li, td {
  font-family: 'Roboto', sans-serif;
}

.about {
  font-size: larger;
}

.col-sm-12, .col-xs-12 {
  text-align: center;
}

th {
  text-align: center;
}

body {
  background-color: #e6e9ed;
}

.navbar-nav>li>a {
  padding-bottom: 20px;
}

.no-highlight {
  text-decoration: none; 
  color: #333;
}

#inline {
  display: inline;
}

.hide {
  visibility: hidden;
}

.align-right {
  text-align: right;
  margin-bottom: 0px;
}

.left-title {
  font-weight: bold;
  text-align: left;
  float: left;
}

.panel-body {
  text-align: left;
}

.albumart {
  background: url(/img/default.jpg);
}

.no-border {
  border-top: none !important;
}

#volume {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}

#playpause, #volume-icon {
  display: inline-block;
  vertical-align: middle;
  width: 50px
}

.slider-tip {
    opacity:1;
    bottom:120%;
    margin-left: -1.36em;
}